html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    background-color: #8e8d8d; 
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    font-family: Marker Felt, fantasy;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #00181e 0%, #565656 100%);
    padding: 32px;
    border: 2px solid #018708;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    transition: 0.5s ease;
    height: 125px;
    width: 125px;
    background: #0d840b;
    font-size: 0;
    color: #262626;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotate(360deg);
    transition: 0.8s ease;
    background: #00e8c1;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #f2ff00;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    color: #018708;
    background: linear-gradient(160deg, #00181e 0%, #565656 100%);
    width: 660px;
    border: solid;
    border-radius: 25px;
    padding: 1em;
    margin-bottom: 1em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
/*
.score-panel .restart {
    float: right;
    cursor: pointer;
}
*/

.modal {
    display: none;
    overflow: auto;
}

.modal-open {
    transition: 1s ease;
    display: inline-block;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-family: Marker Felt, fantasy;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(to right, #eaa51c, #fcf800);
    margin: auto;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    padding: 20px;
    height: 500px;
    width: 65%;
}

li, i {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;   
}

button {
    font-family: Marker Felt, fantasy;
    font-weight: bold;
    display: inline-block;
    background-color: #47e542;
    border: 2px solid #3a3a3a; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    margin: 2em;
}

.stars-container {
    width: 100%;
}

.moves-container {
    width: 46%;
}

.time-container {
    width: 45%;
}

.restart {
    text-align: right;
    cursor: pointer;
}

.restart:hover {
    transform: rotate(360deg);
    transition: 1s ease;
}